<h1>Pages</h1>

<p>There are <%= @total %> pages</p>

<p>
  <% @pages.each do |page| %>
    <%= page.title %> | <%= link_to "Edit", :action => 'edit', :id => page.id %> | <%= link_to "Delete", :action => 'destroy', :id => page.id %>
  <% end %>
</p>

<p><%= link_to "New Page", :action => 'new' %>