<h1>New Page</h1>

<form action="<%= url_for :action => 'new' %>" method="post">
  
  <p>
    <b>Title:</b><br>
    <input name="title" value="" size=20>
  </p>
  
  <p>
    <b>Author:</b><br>
    <input name="author" value="" size=20>
  </p>

  <p>
    <b>Email:</b><br>
    <input name="email" value="" size=20>
  </p>
  
  <p>
    <b>Body:</b><br>
    <textarea name="body" cols="30" rows="10"></textarea>
  </p>

  <p>
    <b>Reference:</b><br>
    <select name="reference">
      <option>Google
      <option>Yahoo!
      <option>MSN
      <option>Ask
    </textarea>
  </p>

  <input type="submit" value="Submit">
</form>